@use "../tools/mixins" as button;
@use "../base/variables" as variable;

.Button {
  font-family: map-get(variable.$fonts, "subtitle");
  font-size: 1.5em;
  @include button.flex;
  color: map-get(variable.$colors, "black-secondary");
  background-color: map-get(variable.$colors, "secondary");
  width: 7.5rem;
  border-radius: 1.25rem;
  padding: 0.625rem;
  box-shadow:  1px 1px 10px map-get(variable.$colors, "black-secondary" ),
             -1px -1px 10px map-get(variable.$colors, "secondary" );
  &--size {
    width: 9.375rem;
  }
}

.Button:hover {
  color: map-get(variable.$colors, "secondary");
  background-color: map-get(variable.$colors, "black-secondary");
  font-weight: 500;
  cursor: pointer;
}
